 body {
          /*   display: flex;
            justify-content: center;
            align-items: center; */
            height: 100vh;
            margin: 0;
            background-color: #f0f5f9; /* Light blue background */
        }

        .form-container {
            background: linear-gradient(to bottom, #cfe7f9, #95cbee); /* Different shades of blue for background */
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 350px;
        }

        .form-container h2 {
            text-align: center;
            color: #005a80; /* Dark blue heading color */
        }

        .form-group {
            margin-bottom: 15px;
        }

        label {
            /* display:  block; */
            color: #005a80; /* Dark blue label color */
        }

       input[type="text"],
    input[type="password"] {
       padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 90%;
    }

        .error-message {
            color: red;
            text-align: center;
            margin-top: 10px;
        }

        .submit-button {
            background: linear-gradient(to bottom, #007bff, #005cbf); /* Different shades of blue for submit button */
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        .loading-spinner {
            display: none;
            text-align: center;
            margin-top: 15px;
        }

        .loading-spinner img {
            width: 30px;
            height: 30px;
        }
        
        th {
        background-color: #9C27B0 !important;
    color: #FFF;
        }
 
 td {       
        background-color: #E0E0E0;
    font-weight: bold;
}

.nav-bar-center {
	display: flex;
    justify-content: center;
    align-items: center;
}
}